div{
    padding: 10px;
}

h1, h2, h3{
    margin: 10px;
}

h1{
    padding: 7px;
    font-family: cursive;
    color: white;
    background-color: black;
}

h1 span{ 
    color: cornflowerblue;
}

h2{
    padding: 7px;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    color: white;
    background-color: rgb(53, 40, 135);
}

h3{
    padding: 7px;
    text-align: right;
    text-decoration: underline;
    font-family: monospace;
    color: rgb(0, 0, 0);
    background-color: rgb(194, 188, 231);
}

